{% extends 'admin/ltbase.html' %} {% load static %} {% block content %}
<div class="content-wrapper">
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <h3>NOTE: IF No Subcategories Please Create A Subcategory</h3>
      {% csrf_token %}
      
      {{form.as_p }}
      <input type="submit" value="Submit" class="btn btn-primary mb-2" />
    </form>
    <a href="{% url 'product_list' %}"
      ><button class="btn btn-danger">View List</button></a
    >
  </div>
</div>

{% endblock %}
